<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Script_Edit_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Script_Edit_Plugin.Properties.Settings>
            <setting name="ScreenPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitShift" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="SplitShift2" serializeAs="String">
                <value>457</value>
            </setting>
            <setting name="AutoUpdateList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DynamicHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
        </Script_Edit_Plugin.Properties.Settings>
    </userSettings>
</configuration>